@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <h1 class="display-4 m-b-5">Книги на любой вкус, и не только!</h1>
    <img class="w-75" src="Images/BookIsALife.webp"/>
</div>
