<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <header class="container-fluid bg-info p-2">
        <h1 class="text-white d-inline-block">Книжный погребок</h1>
        <nav class="d-inline-block float-right p-3">
            <a href="@Url.Action("Index", "Admin")" class="text-white ml-3">Админка</a>
            <a asp-action="Book" class="text-white ml-3">Книги</a>
            <a asp-route="#" class="text-white ml-3">Журналы</a>
            <a asp-route="#" class="text-white ml-3">Комиксы</a>
            <a asp-route="#" class="text-white ml-3">Сувениры</a>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
