@model BookStore.Entities.BaseObjects.ProductObject
<h2>Добавление книги:</h2>
<form method="post">
    <label asp-for="Name">Название:</label>
    <input asp-for="Name" />
    <br />
    <label asp-for="Manufacturer">Производитель:</label>
    <input asp-for="Manufacturer" />
    <br />
    <label asp-for="Cost">Цена:</label>
    <input asp-for="Cost" />
    <br />
    <button type="submit">Отправить</button>
</form>