<h1 class="display-1">Админочка</h1>
<h2>Работа с сущностями:</h2>
<h4><a asp-action="Product">Продукты</a></h4>
<ul>
    <li><a asp-action="Book">Книги</a></li>
    <li><a asp-action="Magazine">Журналы</a></li>
    <li><a asp-action="Comix">Комиксы</a></li>
</ul>
<h4>Книжные атрибуты</h4>
<ul>
    <li><a asp-action="Author">Авторы</a></li>
    <li><a asp-action="Jenre">Жанры</a></li>
</ul>
<h4>Авторизация/Аутентификация</h4>
<ul>
    <li><a asp-action="User">Пользователи</a></li>
    <li><a asp-action="Role">Роли</a></li>
</ul>

