@model BookStore.Entities.BookAdditionals.Jenre
<h2>Добавление Жанра:</h2>
<form method="post">
    <label asp-for="Name">Название:</label>
    <input asp-for="Name" />
    <button type="submit">Отправить</button>
</form>