@model BookStore.Entities.Accounting.Role
<h2>Добавление Роли:</h2>
<form method="post">
    <label asp-for="Name">Название:</label>
    <input asp-for="Name" />
    <button type="submit">Отправить</button>
</form>
<h2>Список ролей:</h2>
<table>
    <thead>
        <tr>Id</tr>
        <tr>Название</tr>
    </thead>
    <tbody>
        @foreach(BookStore.Entities.Accounting.Role role in ViewBag.Roles){
            <tr>
                <td>@role.ID</td>
                <td>@role.Name</td>
            </tr>
        }
    </tbody>
</table>